In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

card_dtypes = {
    'card_owner_id': int,
    'is_active': bool,
    'age_years': int  # if you want this as int too
}

card = pd.read_csv('card.csv')
card.info

<bound method DataFrame.info of                                 card_token   card_produced_time  \
0     ed39695c-a026-42ce-865d-8062a56ec18b  2017-10-03 18:01:53
1     3dcf0adc-c5eb-45b7-8a2c-3de3b68c3a6c  2017-10-19 21:27:01
2     99b81876-0b36-48db-9b5b-1fc2fe6cef86   2017-10-20 6:30:55
3     3a971774-4fbc-4b2f-b28b-4b7f52dadc91   2017-10-20 6:40:34
4     83cd69a1-64e5-4526-aa7d-3e423ccedfe9   2017-10-20 6:49:58
...                                    ...                  ...
4995                                   NaN                  NaN
4996                                   NaN                  NaN
4997                                   NaN                  NaN
4998                                   NaN                  NaN
4999                                   NaN                  NaN

      card_owner_id is_active profile_address_country  age_years  \
0            1505.0      True                      EE       30.0
1         1886894.0      True                      IT       29.0
2          112168.0      True                      EE       32.0
3         3454190.0      True                      EE       24.0
4          273062.0      True                      EE       34.0
...             ...       ...                     ...        ...
4995            NaN       NaN                     NaN        NaN
4996            NaN       NaN                     NaN        NaN
4997            NaN       NaN                     NaN        NaN
4998            NaN       NaN                     NaN        NaN
4999            NaN       NaN                     NaN        NaN

          email_domain card_delivery_country card_delivery_city
0     transferwise.com                    EE            Tallinn
1            gmail.com                    EE            Tallinn
2            gmail.com                    EE          Järveküla
3     transferwise.com                    EE            Tallinn
4     transferwise.com                    EE            Tallinn
...                ...                   ...                ...
4995               NaN                   NaN                NaN
4996               NaN                   NaN                NaN
4997               NaN                   NaN                NaN
4998               NaN                   NaN                NaN
4999               NaN                   NaN                NaN

[5000 rows x 9 columns]>

In [ ]:
cost_structure = pd.read_csv('cost_structure.csv')
rates = pd.read_csv('rates.csv')
transaction = pd.read_csv('transaction.csv', low_memory=False)

In [9]:
cost_structure

,transaction_cost_type,cost_line,fixed_or_variable,cost_region,cost_in_gbp,variable_fee
0,POS/ECOM,Scheme fees (auth and clearing),Fixed,Domestic,£0.0094,NaN
1,POS/ECOM,Issuer fees (WC),Fixed,Domestic,£0.0200,NaN
2,POS/ECOM,Processing fees (Carta),Fixed,Domestic,£0.0300,NaN
3,POS/ECOM,Scheme % fees (Issuing+Investment),Variable,Domestic,NaN,0.000%
4,POS/ECOM,Scheme FX,Variable,Domestic,NaN,0.000%
...,...,...,...,...,...,...
994,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN

**Q1**

What is the average profit for each transaction type?

a. What are the factors driving the cost and revenue